*, html, body{
    font-family: Montserrat;
    margin: 0;
    font-size: 16px;
}
html>body{
    background-color: rgb(13, 12, 20);
}
p, strong, li{
    font-family: Poppins;
}
hr{
    width: 300px;
    justify-self: center;
    text-align: center;
    border: solid 0.7px;
    border-radius: 100%;
    border-color: rgb(141, 198, 255);
    margin: 5px 0px 10px 0px;
}
h1{
    font-size: xx-large;
}
h3{
    font-size: x-large;
    text-align: center;
}
.container {
    min-width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cv-page{
    display: flex;
    flex-direction: row;
    background-color: rgb(135, 167, 247);
    min-width: 900px;
    margin-top: 30px;
    /* padding: 30px 0px 30px 0px; */
}
.main-content{
    background-color: rgb(252, 251, 255);
    padding: 20px 20px 20px 40px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -10px 0px 2px rgba(39, 12, 79, 0.3);
    max-width: 500px;
}
.main-content>div{
    min-width: 470px;
    margin: 10px 0px 10px 0px;
    line-height: 1.7em;
}
.main-content>div>h3{
    text-align: left;
}
.main-content>div>hr{
    justify-self: left;
    width: 95%;
}
.left-side{
    background-color: rgb(135, 167, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 380px;
    /* border-radius: 0px 20px 20px 0px; */
    /* box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2); */
    padding: 30px 0px 30px 0px;
}
.material-symbols-outlined{
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    vertical-align: -0.2em;
    justify-self:center;
}
.side-content{
    justify-items: left;
    text-align: left;
    color: rgb(15, 9, 44);
}
.side-content>div{
    padding: 15px 0px 15px 0px;
    line-height: 1.7em;
    width: 100%;
    min-width: 300px;
}
.side-content>div>hr{
    border-color: rgb(242, 249, 255);
}

.text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#profile>img{
    border-radius: 50%;
    border: solid 5px rgb(242, 249, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
span>img{
    vertical-align: middle;
}